/* Header ընդհանուր */
.header-down {
    background: #f4f5f6;
    position: sticky;
    top: 0;
    z-index: 9999;
}

/* Top Header */
.top-header {
    border-bottom: 1px solid #d6d8db;
}

.top-header-title {
    padding: 10px 0;
}

.top-header-title h1 {
    font-size: 14px;
    color: rgb(0 45 88 / 60%);
    margin-bottom: 0;
}

.top-header-list ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}

.top-header-list ul li {
    position: relative;
}

.top-header-list ul li a {
    color: #658dbc;
    font-size: 14px;
    padding: 12px 18px;
    border-left: 1px solid #d6d8db;
    display: block;
}

.top-header-list ul li a i {
    color: #7b92a8;
}

.top-header-list ul li:last-child a {
    border-right: 1px solid #d6d8db;
}

.fa-close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 14px;
    cursor: pointer;
    color: #7b92a8;
}

.fa-close:before {
    content: "\f00d";
}

/* Middle Header */
.middle-header {
    padding: 15px 0;
}

.logo-area img {
    width: 100%;
    height: auto;
}

/* Search Form */
.search-form .form-group {
    position: relative;
}

.search-input {
    border-radius: 5px 0 0 5px;
    border-right: 0;
    padding: 5px 15px;
    border: 1px solid #658dbc;
    height: 45px;
    font-size: 16px;
    color: rgb(0 45 88 / 50%);
    background: #fff;
}

.search-input::placeholder {
    color: #a3abb7;
}

.search-btn {
    background: 0;
    border: 0;
    background-color: #fff;
    border: 1px solid #658dbc;
    background-image: url(../images/search-icon.jpg);
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position: center;
    font-size: 0;
    width: 45px;
    height: 45px;
    border-left: 0;
    border-radius: 0 5px 5px 0;
}

/* Call Area */
.call-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.call-icon {
    margin-right: 10px;
}

.call-icon i {
    font-size: 28px;
    border: 1px solid #002d58;
    border-radius: 5px;
    padding: 5px 8px;
    color: #002c58;
}

.call-text-top p {
    margin-bottom: 0;
    font-size: 14px;
    color: #686868;
    line-height: 1.2;
}

.call-text-top p em {
    color: #658dbc;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

.right-divider {
    border-right: 1px solid #d6d8db;
}

/* Account Tools */
.account-tools {
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 5px;
}

.account-tools i {
    font-size: 30px;
    color: #002d58;
    margin-bottom: 3px;
}

.account-tools p {
    font-size: 12px;
    color: rgb(0 45 88 / 80%);
    text-align: center;
    margin-bottom: 0;
}

.tool-list {
    position: absolute;
    content: '';
    min-width: 150px;
    height: auto;
    background: #fff;
    border: 1px solid #a3a3a3;
    box-shadow: 0 0 27px rgba(0,43,88,0.17);
    border-radius: 5px;
    z-index: 9;
    padding: 15px 20px;
    right: -20px;
    top: 55px;
    display: none;
    width: 100%;
}

.account-tools:hover .tool-list {
    display: block;
}

.tool-list ul {
    margin-bottom: 0;
    position: relative;
}

.tool-list ul li a {
    font-size: 14px;
    color: #597baa;
    display: block;
    padding-bottom: 8px;
    text-align: left;
}

.tool-list ul li:last-child a {
    padding-bottom: 0;
}

.top-arrow img {
    position: absolute;
    top: -10px;
    right: 20px;
}

/* My Account Area */
.my-account-area {
    display: flex;
    align-items: center;
    border: 1px solid #658dbc;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.my-account-icon img {
    margin-right: 10px;
}

.my-account-text p {
    font-size: 12px;
    color: rgb(0 45 88 / 80%);
    margin-bottom: 2px;
    line-height: 1;
}

.my-account-text h3 {
    color: #002d58;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.my-account-text h3 i {
    color: #002d58;
    font-size: 16px;
    font-weight: bold;
}

.account-list {
    position: absolute;
    content: '';
    min-width: 140px;
    height: auto;
    background: #fff;
    border: 1px solid #a3a3a3;
    box-shadow: 0 0 27px rgba(0,43,88,0.17);
    border-radius: 5px;
    z-index: 9;
    padding: 0;
    right: 0;
    top: 55px;
    width: 100%;
    display: none;
}

.my-account-area:hover .account-list {
    display: block;
}

.account-btns {
    padding: 15px 10px;
    border-bottom: 1px solid #a3a3a3;
    margin-bottom: 15px;
}

.login-btn a {
    background: #88c633;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    display: block;
    border-radius: 5px;
    text-align: center;
}

.signup-btn a {
    background: transparent;
    color: #002d58;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    display: block;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #002d58;
}

.account-option {
    padding: 0 15px;
}

.account-option ul li a {
    display: block;
    color: #597baa;
    font-size: 14px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.account-option ul li a img {
    margin-right: 5px;
}

/* Cart Area */
.cart-area {
    position: relative;
    padding: 5px;
    padding-right: 18px;
    cursor: pointer;
}

.cart-area i {
    color: #002c58;
    font-size: 22px;
    margin-right: 15px;
}

.cart-area p {
    font-size: 18px;
    color: #002d58;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;
}

.cart-area h4 {
    color: rgb(0 45 88 / 80%);
    font-size: 12px;
    margin-bottom: 0;
}

.cart-tab {
    position: absolute;
    content: '';
    min-width: 245px;
    height: auto;
    background: #fff;
    border: 1px solid #a3a3a3;
    box-shadow: 0 0 27px rgba(0,43,88,0.17);
    border-radius: 5px;
    z-index: 99;
    padding: 0;
    right: 0;
    top: 55px;
    width: 100%;
    display: none;
}

.cart-area:hover .cart-tab {
    display: block;
}

.cart-head {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid #a3a3a3;
}

.cart-title h4 {
    font-size: 12px;
    font-weight: bold;
    color: #002d58;
    margin-bottom: 0;
}

.cart-total-price h4 {
    font-size: 14px;
    font-weight: bold;
    color: #002d58;
    margin-bottom: 0;
}

.cart-item1 {
    display: flex;
    padding: 15px 10px;
    border-bottom: 1px solid #a3a3a3;
    align-items: flex-start;
}

.cart-pic {
    border: 1px solid #a3a3a3;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin-right: 10px;
    height: 50px;
    width: 65px;
}

.cart-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-detail h3 {
    font-size: 14px;
    color: #002d58;
}

.item-number {
    display: flex;
    align-items: center;
}

.item-number h4 {
    background: #ececec;
    padding: 5px 8px;
    border-radius: 5px;
    color: #002d58;
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 0;
}

.item-number h5 {
    font-size: 14px;
    font-weight: bold;
    color: #88c633;
    margin-bottom: 0;
}

.cart-editor ul {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.cart-editor ul li i {
    color: #b2b2b2;
    font-size: 18px;
}

.cart-detail-below {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-btn {
    padding: 15px 10px 5px;
}

.checkout-btn a {
    background: #f59a1f;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    display: block;
    text-align: center;
    padding: 6px 20px;
    border-radius: 5px;
}

.viewcart-padding {
    padding: 5px 10px 15px;
}

.account-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Bottom Header */
.bottom-header {
    background: #002d58;
    box-shadow: #737476 0 3px 8px 0 !important;
    -moz-box-shadow: #737476 0 3px 8px 0 !important;
    -webkit-box-shadow: #737476 0 3px 8px 0 !important;
}

.menu-list > ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.flex-item {
    flex: auto;
}

.flex-item + .flex-item {
    border-left: 1px solid #294f73;
}

.menu-list > ul > li > a {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    display: block;
    transition: all .4s ease-in-out;
    padding: 15px 0;
    text-align: center;
}

.menu-list > ul > li:last-child > a {
    border-right: 0;
}

.menu-list > ul > li:hover > a {
    background: #597aa8;
}

.mega-dropdown {
    position: absolute;
    content: '';
    width: 98%;
    left: 0;
    right: 0;
    z-index: 99999;
    background: #fff;
    display: none;
    margin: 0 auto;
}

.menu-list ul li:hover .mega-dropdown {
    display: block;
}

/* Mobile Top Right */
.mob-top-right ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}

.mob-top-right ul li {
    border-right: 1px solid #dedfdf;
    padding: 0 15px;
}

.mob-top-right ul li:last-child {
    padding-right: 0;
    border-right: 0;
}

.phone-mob {
    text-align: center;
}

.phone-mob i {
    font-size: 22px;
    color: #002c58;
    font-weight: bold;
    text-align: center;
}

.phone-mob p {
    margin-bottom: 0;
    font-size: 12px;
    color: #002d58;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-toggler {
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.bar1 {
    width: 28px;
    height: 3px;
    background: #002d58;
    margin: 0 auto 5px auto;
}

.bar2 {
    width: 28px;
    height: 3px;
    background: #002d58;
    margin: 5px auto;
}

.bar3 {
    width: 28px;
    height: 3px;
    background: #002d58;
    margin: 5px auto 7px auto;
}

.menu-toggler p {
    text-align: center;
    color: #002d58;
    font-size: 15px;
    margin-bottom: 0;
}

/* Mobile Bottom List */
.mob-bottom-list {
    padding: 15px 0;
}

.mob-bottom-list ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
}

.mob-bottom-list ul li {
    padding: 0 15px;
    border-right: 1px solid #fff;
}

.mob-bottom-list ul li:last-child {
    padding-right: 0;
    border-right: 0;
}

.mob-bottom-list .account-tools i,
.mob-bottom-list .cart-area i {
    color: #fff;
    font-size: 25px;
}

.mob-bottom-list .account-tools p,
.mob-bottom-list .cart-area h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.mob-bottom-list .cart-area {
    padding-right: 5px;
}

.mob-bottom-list .cart-area p {
    color: #fff;
    font-size: 15px;
    line-height: 1;
    top: 8px;
}

.mob-bottom-list .search-input {
    width: 200px;
    background: #fff;
}

.mob-bottom-list .search-input::placeholder {
    font-size: 16px;
    color: #000;
}

/* Contact Tab */
.contact-tab {
    position: absolute;
    content: '';
    min-width: 170px;
    height: auto;
    background: #fff;
    border: 1px solid #a3a3a3;
    box-shadow: 0 0 27px rgba(0,43,88,0.17);
    border-radius: 5px;
    z-index: 99;
    padding: 0;
    left: 0;
    top: 40px;
    width: 100%;
    display: none;
}

.top-header-list ul li:hover .contact-tab {
    display: block;
}

.contact-tab .top-arrow img {
    left: 20px;
    right: auto;
}

.live-chat {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    border-bottom: 1px solid #a3a3a3;
    position: relative;
}

.live-chat a {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.chat-icon img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.chat-icon {
    margin-right: 10px;
}

.chat-para p {
    font-size: 14px;
    color: #597baa;
    margin-bottom: 0;
}

.contact-links {
    padding: 10px 15px;
    border-bottom: 1px solid #a3a3a3;
}

.contact-links h4 {
    color: #002d58;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-links ul {
    display: block;
}

.contact-links ul li {
    padding-left: 10px;
    position: relative;
}

.contact-links ul li:before {
    position: absolute;
    content: '-';
    width: 10px;
    height: 10px;
    color: #597baa;
    font-size: 17px;
    top: -4px;
    left: 0;
}

.contact-links ul li a {
    font-size: 14px;
    color: #597baa;
    padding: 0;
    display: block;
    border: 0;
    margin-bottom: 8px;
}

.contact-links ul li:last-child a {
    margin-bottom: 0;
}

.support-links {
    padding: 10px 15px;
}

.support-links ul {
    display: block;
}

.support-links ul li a {
    font-size: 14px;
    color: #597baa;
    padding: 0;
    display: block;
    border: 0;
    margin-bottom: 8px;
}

.support-links ul li:last-child a {
    margin-bottom: 0;
}

/* Sprite Images */
.sprite-img {
    background: url(../images/sprit-img1.png);
}

.tool-icon {
    width: 20px;
    height: 25px;
    display: inline-block;
    background-position: -5px 0;
}

.cart-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-position: -42px 0;
}

/* FontAwesome Icons */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-user:before {
    content: "\f007";
}

.fa-shopping-cart:before {
    content: "\f07a";
}

.fa-question-circle:before {
    content: "\f059";
}

.fa-info-circle:before {
    content: "\f05a";
}

.fa-phone:before {
    content: "\f095";
}

.fa-angle-down:before {
    content: "\f107";
}

.fa-pencil-square-o:before {
    content: "\f044";
}

.fa-trash-o:before {
    content: "\f014";
}

/* Container and Grid */
.container {
    max-width: 1440px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.p-0 {
    padding: 0 !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

/* Responsive */
@media(min-width:768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    
    .d-md-block {
        display: block !important;
    }
    
    .d-md-none {
        display: none !important;
    }
}

@media(min-width:992px) {
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .d-lg-block {
        display: block !important;
    }
    
    .d-lg-none {
        display: none !important;
    }
    
    .justify-content-lg-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
}

@media only screen and (max-width:1024px) {
    .top-header {
        display: none;
    }
    
    .d-1024-block {
        display: block !important;
    }
    
    .d-1024-none {
        display: none !important;
    }
    
    .d-1024-full {
        max-width: 100%;
        flex: 0 0 100%;
    }
    
    header {
        position: fixed;
        top: 0;
        transition: all .4s ease-in-out;
        width: 100%;
        height: 241px;
    }
    
    .header-up {
        margin-top: -242px;
    }
    
    body {
        padding-top: 240px;
    }
}

@media only screen and (max-width:992px) {
    header {
        height: 197px;
    }
    
    body {
        padding-top: 197px;
    }
}

@media only screen and (max-width:767px) {
    header {
        height: 177px;
    }
    
    body {
        padding-top: 175px;
    }
    
    .p-sm-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}